:root {
  --bs-primary: #222831;
  --bs-secondary: #393e46;
  --bs-info: "#00ADB5";
  --bs-light: #eeeeee;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
.Router {
  min-height: 100vh;
}

.container1 {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container2 {
  width: 80%;
  height: 100%;
}
nav {
  display: flex;
  justify-content: space-between;
}

.AboutUs,
.ContactUs,
.OurWork {
  min-height: 100vh;
}
.AboutUs,
.ContactUs {
  height: 100vh;
  p {
    font-size: 1.2rem;
  }
}
.LandingPage {
  margin-top: -6vh;
  background-image: url("./assets/images/LandingPage.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0px 15px 50px 20px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LandingPage-Container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LandingPage-Inside-Container {
  width: 50%;
  height: 17rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  P {
    margin: 0;
    font-size: 1.3rem;
    color: #eeeeee;
    font-weight: 700;
  }
  h1 {
    margin: 0;
    line-height: 2.6rem;
    font-weight: 700;
    font-size: 2.6rem;
    color: #eeeeee;
  }
  button {
    background-color: #ffb91c;
    border: 0;
    padding: 0.8rem 2.2rem 0.8rem 2.2rem;
    color: #eeeeee;
    font-weight: 700;
    cursor: pointer;
  }
}

.OurWork {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AboutUs-Container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
  h1 {
    font-size: 3rem;
  }
  p {
    font-size: 1.1rem;
  }
  .Input {
    height: 2.5rem;
  }
  .ant-select-selector {
    height: 2.5rem !important;
  }
  button {
    background-color: #ffb91c;
    border: 0;
    padding: 0.8rem 2.2rem 0.8rem 2.2rem;
    color: #eeeeee;
    font-weight: 700;
    cursor: pointer;
    margin-top: 2rem;
  }
}

.Home {
  min-height: 100vh;
}
.bg-black {
  background-color: rgb(0, 0, 0);
  transition: 0.5s;
}

.bg-black-tr {
  transition: 0.5s;
}

.Header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6vh;
  .HeaderLogo {
    font-size: 1.5rem;
    color: white;
  }
  .Header-Menu {
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: space-between;
    .Header-Menu-Desktop {
      display: flex;
      gap: 3rem;
      .Menu-Item {
        margin: 0;
        color: #eeeeee;
        font-size: 1.3rem;
        cursor: pointer;
      }
    }
    .Header-Menu-Mobile {
      display: none;
    }
  }
}
.sticky {
  position: sticky;
  top: 0;
  z-index: 99;
}

.OuterContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.InnerContainer {
  width: 1024px;
  display: flex;
  flex-direction: column;
}

.Card {
  border: 1px solid black;
  padding: 1rem;
  margin: 1rem;
  cursor: pointer;
  h3 {
    color: black;
  }
}

.ProductPage {
  width: 100%;
  min-height: 100vh;
  background-color: #fbfbfd;
  input {
    background-color: #fbfbfd !important;
  }
}

.Showcase {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.Showcase2 {
  background-color: #fbfbfd;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  input {
    text-align: center;
    background-color: #fbfbfd;
    width: 40rem;
    border: 0;
  }
  .ShowcaseTextContainer {
    margin-top: 0;
  }
}

.ShowcaseTextContainer {
  display: flex;
  flex-direction: column;
  margin-top: 8rem;
  input {
    text-align: center;
    width: 40rem;
    border: 0;
  }
}
@media (max-width: 1000px) {
  .Showcase2 {
    flex-direction: column;
  }
}
.SaveButtonContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 1rem 0 1rem 0;
}

.SaveButton {
  background-color: #0171e2;
  width: 5rem;
  height: 2rem;
  border: 0;
  color: white;
  border-radius: 3rem;
  cursor: pointer;
}
@media (max-width: 1000px) {
  .Header-Menu-Desktop {
    display: none !important;
  }
  .Header-Menu-Mobile {
    display: flex !important;
  }
  .LandingPage {
    height: auto !important;
    background-size: contain;
  }
}

.Template-Container {
  height: 100vh;
  .Template-Container-1 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: red;
    .Template-Container-2 {
      width: 80%;
      height: 100%;
      background-color: blue;
    }
  }
}
